In [6]:
import pandas as pd

df = pd.read_csv('2024_03_25_-_epfl_fin413_crypto_portfolio_construction_-_project_dataset.csv', skiprows=1,index_col='time')
df.index=pd.to_datetime(df.index)
df.head()

,ADA,BCH,BTC,DOGE,ETH,LINK,LTC,MANA,XLM,XRP,SPXT,XCMP,USSOC,VIX
time,,,,,,,,,,,,,,
2017-10-02,0.027392,0.008261,-0.000402,-0.023234,-0.023491,-0.181214,-0.027555,-0.203082,-0.062725,-0.024964,0.00388,0.00320,0.00168,-0.00631
2017-10-03,-0.194745,-0.042087,-0.019799,-0.026641,-0.016846,-0.033296,-0.021392,0.166436,-0.045385,0.000985,0.00220,0.00238,0.00126,0.00635
2017-10-04,0.050384,-0.115200,-0.022141,-0.008798,-0.000445,0.134588,-0.017833,-0.144464,-0.048348,0.050172,0.00131,0.00060,0.00501,0.01262
2017-10-05,-0.016903,-0.004159,0.024363,-0.006903,0.011348,0.033163,0.008200,-0.063668,0.226926,0.114754,0.00582,0.00778,0.00624,-0.04569
2017-10-06,-0.140799,0.025370,0.011686,0.016882,0.045222,0.155556,0.008521,-0.398374,0.268461,-0.019328,-0.00076,0.00075,0.00413,0.05005

In [7]:
datePP = '2021-09-11'
dateTr = '2022-11-21'

weights = [1/14] * 14

values_at_peak = df.loc[datePP]
values_at_trough = df.loc[dateTr]

portfolio_value_at_peak = values_at_peak * weights
portfolio_value_at_trough = values_at_trough * weights

total_portfolio_value_at_peak = portfolio_value_at_peak.sum()
total_portfolio_value_at_trough = portfolio_value_at_trough.sum()

print(f"Total Portfolio Value at Peak Date ({datePP}):", total_portfolio_value_at_peak)
print(f"Total Portfolio Value at Trough Date ({dateTr}):", total_portfolio_value_at_trough)

Total Portfolio Value at Peak Date (2021-09-11): 0.018846936428571427
Total Portfolio Value at Trough Date (2022-11-21): -0.01572044707142857